[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-cors-headers = "*"
django-language-field = "*"

[dev-packages]

[requires]
python_version = "3.9"
